@define-color rouge  #ff0000;
@define-color bleu #0400ff;
@define-color jaune #ecff00;
@define-color mauve #ab20fd;
@define-color noir #000000;
@define-color blanc #ffffff;
@define-color vert #53ff00;
@define-color orange #ff8700;

#myCombi {
    border-radius: 50%;  
    width: 20px;
    height: 20px;
    margin: 3px;
}

#myInd {
    border-radius: 10%;  
    width: 15px;
    height: 25px;
    margin: 5px;
}

#myValider, #mySupprimer {
    background-color: #41849e;  
    color: #000000;  
    border: 2px solid #41849e;  
    font-size: 14px;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
    margin-bottom: 20px 30px;

}

window {
    background-color: #68b0cc;  
    padding: 30px;
}


#myMastermindTitre {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 70px;
}
